<h1>ユーザ一覧</h1>
<table>
  <tr>
    <th>会員ID</th>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @publics.each do |public| %>
    <tr>
      <td>
        <%= link_to admin_customers_path do %>
          <%= public.id %>
        <% end %>
      </td>
      <td><%= public.name %></td>
      <td><%= public.email %></td>
      <td><%= public.id %></td>
    </tr>
  <% end %>
</table>