<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="mx-auto">-->
<!--      <h3>プロフィール編集ページ</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="mx-auto">-->
<!--      <%= form_with model:@customer, local:true do |f| %>-->
<!--        <p><%= f.attachment_field :profil_image %></p>-->
<!--        <p>名前　<%= f.text_field :name %></p>-->
<!--        <p>自己紹介　<%= f.text_area :introduction %></p>-->
<!--        <p><%= f.submit '保存' %></p>-->
<!--        <p><%= link_to "退会する", withdrawal_path %></p>-->
<!--      <% end %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<h3>プロフィール編集ページ</h3>
<div>
  <%= form_with model:@customer, local:true do |f| %>
    <p><%= f.attachment_field :profil_image %></p>
    <p>名前　<%= f.text_field :name %></p>
    <p>自己紹介　<%= f.text_area :introduction %></p>
    <p><%= f.submit '保存' %></p>
    <p><%= link_to "退会する", withdrawal_path %></p>
  <% end %>
</div>