<h3>フォロワー 一覧</h3>
<% @customers.each do |customer| %>
  <p>
    <%= link_to customer_path(customer.id) do %>
      <%= attachment_image_tag customer, :profil_image, :fill, 100, 100, format: 'jpeg' %>
    <% end %>
    <% if current_customer.following?(customer) %>
      <%= link_to 'フォローを外す', unfollow_path(customer.id), method: :post, remote: true %>
    <% else %>
      <%= link_to 'フォローする', follow_path(customer.id), method: :post, remote: true %>
    <% end %>
  </p>
  <p>名前： <%= customer.name %></p>
<% end %>