<% if customer_signed_in? %>
<div class="container">
  <div class="mx-auto">
  <div class="row-12">
      <h3>ユーザー 一覧</h3>
      <% @customers.each do |customer| %>
      <% if customer.id != current_customer.id %>
      <div>
        <%= link_to customer_path(customer.id) do %>
          <%= attachment_image_tag customer, :profil_image, :fill, 100, 100, format: 'jpeg' %>
        <% end %>
        名前：<%= customer.name %>
        <p id=<%="customer-#{customer.id}"%>>
          <% if current_customer.following?(customer) %>
            <%= render "customers/follow", customer: customer %>
          <% else %>
            <%= render "customers/unfollow", customer: customer %>
          <% end %>
        </p>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>