<div class="container">
      <div class="user-profile">
        <p><%= attachment_image_tag @customer, :profil_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
        <p>名前：<%= @customer.name %></p>
        <p>自己紹介：<%= @customer.introduction %></p>
        <% if @customer.id == current_customer.id %>
          <%= link_to "プロフィールを編集する", edit_customer_path(@customer.id) %>
        <% end %>
        <% unless @customer == current_customer %>
          <% if current_customer.following?(@customer) %>
            <%= link_to "フォローを外す", unfollow_path(@customer.id), method: :post %>
          <% else %>
            <%= link_to "フォローする", follow_path(@customer.id), method: :post %>
          <% end %>
        <% end %>
        <p>
          <%= link_to followed_customer_path do %>
            フォロー数: <%= @customer.follower.count %>
          <% end %>
          <%= link_to followers_customer_path do %>
            フォロワー数: <%= @customer.followed.count %>
          <% end %>
        </p>
      </div>
  <div class="main-content">
    <h3>投稿記記事一覧</h3>
    <div class="content-box">
    <% @post.each do |post| %>
      <div class="col-4">
        <div class="card mt-4 shadow-lg">
          <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag post, :image, class: "card-img-top", height: "180px" %>
          <% end %>
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <p class="card-title">
                  <strong><i class="far fa-flag"></i><span> <%= post.title %></span></strong>
                </p>
                <p class="card-text">ジャンル：<%= post.genre %></p>
              </div>
            </div>
          </div>
          <% if @customer.id == current_customer.id %>
            <p><%= link_to "記事を編集する", edit_post_path(post.id) %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @post %>
    </div>
  </div>
</div>