<div class="container">
  <div class="row">
    <div class="a">
      <div class="b"><%= image_tag "photo-1594974993962-43ce78e10399.jpeg", class:'c' %></div>
      <div class="b"><%= image_tag "photo-1587304123078-167157cbac1c.jpeg", class:'c' %></div>
　　</div>
  </div>
  <div class="content-box">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="card w-6 mx-auto mt-4 shadow-lg">
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :image, class:"card-img-top", height: "180px"  %>
            <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <p class="card-title">
                    <strong><i class="far fa-flag"></i><span> <%= post.title %></span></strong>
                  </p>
                  <p class="card-text">
                    ジャンル：<%= post.genre %>
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <div class="row">
      <div class="mx-auto">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
