<h1>Topページ</h1>
<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <p><%= attachment_image_tag post, :image, :fill, 100, 100, format: 'jpeg' %></p>
  <% end %>
  <p>タイトル：<%= post.title %></p>
  <p>ジャンル：<%= post.genre %></p>
  <p>記事の内容：<%= post.contents %></p>
</div>
<% end %>