<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h3>記事編集</h3>
      <%= form_with model:@post, local: true do |f| %><br>
          <%= f.attachment_field :image %>
        <h2>タイトル</h2><%= f.text_field :title %>
        <h2>ジャンル</h2><%= f.text_field :genre %>
        <h2>記事の内容</h2><%= f.text_area :contents %><br>
        <%= f.text_field :tag_ids,value: @tag_list,\
          placeholder: "タグをつける。複数つけるには','で区切ってください。" %>
          <%= f.submit '編集' %>
      <% end %>
    </div>
  </div>
</div>