<div class="container">
  <div class="row">
      <div class="mx-auto">
        <div class="col-md">
        <h1>新規投稿</h1>
          <%= form_with model: @post, local: true do |f| %>
            <%= f.attachment_field :image %>
            <h2>タイトル</h2>
              <%= f.text_field :title %>
            <h2>ジャンル</h2>
              <%= f.text_field :genre %>
            <h2>記事の内容</h2>
              <%= f.text_area :contents %>
            </br>
            <%= f.text_field :tag_ids, class: "form-control", id: 'tag_ids', placeholder: "タグをつける。複数つけるには','で区切ってください。" %>
            </br>
              <%= f.submit '投稿' %>
          <% end %>
          </div>
      </div>
  </div>
</div>