<!DOCTYPE html>
<html>
  <head>
    <title>Share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body>
    <header>
      <div class="text-center">
        <%= link_to "Topページ", homes_top_path %>
      </div>
      <nav class="text-center">
        <div class="d-flex flex-row-reverse" style="font-family: monospace; padding: 20px; background: #EEEEEE; padding: 20px; margin: 20px">
          <% if customer_signed_in? %>
            <div class="p-2 flex-fill"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></div>
            <div class="p-2 flex-fill"><%= link_to "About", homes_about_path %></div>
            <div class="p-2 flex-fill"><%= link_to "ユーザー 一覧", customers_path %></div>
            <div class="p-2 flex-fill"><%= link_to "新規投稿", new_post_path %></div>
            <div class="p-2 flex-fill"><%= link_to "マイページ", customer_path(current_customer.id) %></div>
          <% elsif admin_signed_in? %>
            <li><%#= "マイページ" %></li>
            <li><%#= "ジャンル一覧" %></li>
            <li><%#= "ユーザ一覧" %></li>
            <li><%#S= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <div class="p-2 flex-fill"><%= link_to "ログイン", new_customer_session_path %></div>
            <div class="p-2 flex-fill"><%= link_to "新規登録", new_customer_registration_path %></div>
            <div class="p-2 flex-fill"><%= link_to "About", homes_about_path %></div>
          <% end %>
        </div>
      </nav>
    </header>

  <%= yield %>
  <!--<div class="footer">-->
  <!--  © 2021 share-->
  <!--</div>-->
</html>